.bg-pink {
  background-color: #FFEDF7;
}

.bg-blue {
  background-color: #003164;
}

.bg-red {
  background-color: #FF4384;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-black {
  background-color: #000000;
}

.pink {
  color: #FFEDF7;
}

.blue {
  color: #003164;
}

.red {
  color: #FF4384;
}

.white {
  color: #FFFFFF;
}